/* MOBILE < 480PX IPHONE 5 ETC */

/* -- BODY STYLES -- */
h1 {
    font-size: 32px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 12px;
}

.p1 {
    font-size: 12px;
}

.p2 {
    font-size: 9px;
}

/* -- LAYOUT -- */
body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

nav {
    display: flex;
}