:root {
    background-color: #f5f3ef;
    color: var(--color-text-one);
    font-family: Roboto, sans-serif;

    /* -- VARS FOR THEME -- */
    --color-one: #000;
    --color-two: #646464;
    --accent: #febd2f;
    --outline: #dcdcdc;
}

/* -- BODY STYLE -- */

h1,
h2,
h3 {
    font-family: "Roboto Serif", serif;
    font-weight: medium;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 24px;
    font-weight: bold;
}

.p1 {
    font-size: 24px;
}

.p2 {
    font-size: 18px;
}

.button1,
.button2 {
    font-weight: medium;
}

.button1 {
    border: 0;
    border-radius: 32px;
    background-color: #000;
    color: #fff;
    font-size: 18px;
    text-align: center;
    padding: 8px 16px;
}

.button1-reverse {
    background-color: #fff;
    color: #000;
}

.button2 {
    font-size: 16px;
}

img {
    width: 100%;
}

/* -- LAYOUT STYLE -- */

/* 5 rows */
.grid-container {
    padding: 0 16px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "navBar navBar"
        "hero hero"
        "card-container card-container"
        "footer footer";
}

.navBar {
    /* background-color: red; */
    grid-area: navBar;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navBar ul li {
    display: inline;
    /* margin: 8px 16px;
    padding: 8px 16px; */
}

.navBar a {
    text-decoration: none;
    color: var(--color-one);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 700;
}

.hero {
    background-color: orange;
    grid-area: hero;
}

.card-container {
    background-color: yellow;
    grid-area: card-container;
}

.footer {
    background-color: green;
    grid-area: footer;
}